doctype html
html
  head
    title= title
    script(src="/javascripts/dependencies/jquery.min.js")
    script(src="/javascripts/dependencies/semantic.min.js")
    link(rel="stylesheet", href="/stylesheets/semantic.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content